.container {
	text-align: center;
}

input {
	padding: 10px 20px;
	width: 500px;
}

button {
	display: block;
	margin: 10px auto;
	padding: 10px 15px;
	background-color: black;
	color: white;
	border-radius: 10px;
	font-size: 1em;
	padding: 10px 20px;
}

button:hover{
	cursor: pointer;
}

div.status-block{
	border: 1px solid black;
	padding: 15px 0;
	margin: 10px;
}