.single-news {
	margin-top: 20px;
}

.single-news .card-img-top {
	height: 235px;
}

.single-news .card-title {
	height: 72px;
}

.single-news .card-text {
	height: 90px;
}

.spinner-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
}

.error-alert {
	margin: 20px auto;
	width: 30em
}