.to-do-list {
	text-align: left;
}

.to-do-input {
	border: 0.5px solid #2125293f;
}

.to-do-input:focus {
	box-shadow: none;
	border: 1px solid #212529;
}

.action-btns {
	display: flex;
	justify-content: space-around;
	padding: 0;
}

.action-btns .btn {
	border-radius: 20px;
}