.single-photo {
	margin-bottom: 20px;
}

.photo-img {
	height: 220px;
}

.spinner-wrapper {
	margin: 50px 0;
}

.posts-container {
	margin-top: 10px;
}

.post-header{
	text-align: left;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
}

.action-btn-outer {
	text-align: right;
}

.action-btn-outer .btn{
	margin-left: 10px;
}

.post-time {
	margin-bottom: 0;
	opacity: 0.6;
}

.member-list-item, .chat-list-item {
	text-align: left;
}